body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #FFFFFF;
    background: #333;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body * {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(141deg, #43a4ea 0%, #188fe4 51%, #0a7de9 85%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.matrix-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.method-select, .main-select, .matrix-table-input {
    padding: 8px;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    max-width: 800px;
}
.matrix-input{
    padding: 8px;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 60px;
    max-width: 800px;

}

.matrix-table .matrix-table-input {
    width: 20px;
    padding: 8px;
    border-radius: 4px;
    max-width: 40px;
    margin-bottom: 0;
    width: 40px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.matrix-fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-color: #fff;
}

.matrix-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.matrix-table td {
    border: 1px solid #ddd;
    text-align: center;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    height: 30px;
    width: 40px;
    padding: 10px;
    vertical-align: middle;
}

.matrix-btn {
    background: #8c8b8f;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    width: 30px;
    text-align: center;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.matrix-btn:hover {
    background: #555;
}

.calculate-btn {
    width: 100%;
    padding: 10px;
    background: #43a4ea;
    box-shadow: 0 18px 30px 0 rgba(56,61,64,0.3);
    background-image: linear-gradient(141deg, #43a4ea 0%, #188fe4 51%, #0a7de9 85%);
    color: #fff;
    transition: all .3s ease-in-out;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: 700;

}

.calculate-btn:hover {
    background: #0f79d4;
}

.matrix-result {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding: 16px;
}

.matrix-number {
    border: 2px solid #FFFFFF;
    padding: 5px 10px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-direction: column;
}

footer {
    margin-top: auto;
    padding-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

footer .supervisors-wrapper {
    font-size: 12px;
}


footer .supervisors-wrapper div {
    position: relative;
    text-align: center;
    margin-bottom: 7px;
    padding-bottom: 7px;
}

footer .author {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer .supervisors-wrapper div:not(:last-of-type):after {
    content: "";
    background: #8f8d8d;
    width: 80px;
    height: 1px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: 0;
}

footer,
footer * {
    color: #8c8b8f;   
} 

footer span i {
    color: rgb(210, 12, 12);
}

footer .footer-links {
    display: flex;
    gap: 10px;
    color: #8c8b8f;
}

footer .footer-links a {
    color: #8c8b8f;
    text-decoration: none;
}
.result-matrix-table {
    border-collapse: collapse;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}

.result-matrix-table td {
    border: 1px solid #FFFFFF;
    padding: 16px;
}

.description-style {
    color: #bcbcbd;
    font-family: 'Roboto', sans-serif;
    font-size: 14.5px;
}


